<% if user_signed_in? %>

<div class="navbar navbar-fixed-top">
		    	<div class="navbar-inner">
		    	  <div class="container">
		        	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </a>
		            <%= link_to "SB",root_path, id: "logo"%>
		        <div class="nav-collapse">
		          <ul class="nav">
		            <li><%= link_to "Home", root_path %></li>
		            <li><%= link_to "Profile", user_path(current_user.id) %></li>
		            <li><%= link_to "Blog Network" %></li>
		          
		          </ul>
		        </div>

		        <div class="btn-group pull-right">
		        	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			              <i class="icon-user"></i> <%= current_user.fname + "  "+ current_user.lname %>
			              <span class="caret"></span>
			        </a>
			        <ul class="dropdown-menu">
		              <li><%= link_to "Profile" %></li>
		              <li class="divider"></li>
		               <li><%= link_to "Settings"%></li>
		              <li class="divider"></li>
		              <li><%= link_to "Log Out",destroy_user_session_path, :method => :delete  %></li>
		            </ul>

		        </div>
		      </div>
		    </div>
</div>	


<%else%>
	<!-- start header -->
	<div class="navbar navbar-fixed-top">
		    	<div class="navbar-inner">
		    	  <div class="container">
		        	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </a>
		       <%= link_to "SB",root_path, id: "logo"%>
		        <div class="nav-collapse">
		          <ul class="nav">
		            <li><%= link_to "Sign Up", new_registration_path(resource_name)%></li>
		            <li><%= link_to "Sign In", new_session_path(resource_name) %></li>
		           
		          </ul>
		        </div>
		      </div>
		    </div>
		  </div>	
	<!-- end header -->

	
	  

<%end%>